.page { position: relative; width: 1000px; height: 639px; margin: 10px auto; border: 10px solid #333333; background: url(../images/bg1.png) 0 0 no-repeat; font-family: "Open Sans", Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;}
.item { position: absolute; display: none; width: 80px; height: 50px; padding-top: 30px; border-radius: 40px; background-color: rgba(230, 145, 23, 0.8); color: #fff; text-align: center; vertical-align: middle; font-size: 12px; font-weight: bold;}
.item:hover { background: rgba(128, 128, 128, 0.8);}
#label1 { left: 800px; top:342px;}
#label2 { left: 355px; top:200px;}
#label3 { left: 458px; top:383px;}
#label4 { left: 179px; top:326px;}
#label5 { left: 578px; top:150px;}
.item span { position: absolute; left: 50%; margin-left: -8px; bottom: -13px; width: 0; height: 0; border-top: 15px solid rgba(230, 145, 23, 0.8); border-bottom: 0 none;border-left: 10px solid transparent; border-right: 10px solid transparent;}
.item:hover span { border-top: 15px solid rgba(128, 128, 128, 0.8);}
