html,body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt,a,span,strong,small,img,table,thead,tbody,tfoot,tr,th,td,form,input,button,textarea,section { padding: 0; margin: 0; box-sizing:border-box;}
h1,h2,h3,h4,h5,h6 { font-weight: normal;}

html { width: 100%; font-size: 10px;}
body { width: 100%;}
.page { width: 100%; font-size: 1.2rem; font-family: 'tahoma','Helvetica','Microsoft Yahei'}
.page-head { position: relative; text-align: center;}
.page-head .tit { text-align: center;}
.icon-back { position: absolute; left: 10px; top: 0;}

.section { background: #fff;}