body { font-family: 'Microsoft Yahei'; font-weight: normal; font-size:12px; color: #333;}
.page { background: #F7C5CE;}
.banner { padding: 20px 0;}
.banner-box { position: relative; width: 400px; height: 250px; margin: 0 auto; overflow: hidden;}
.banner-img { width: 99999px;}
.banner-img li { float: left; width: 400px; height: 250px;}
.banner-img li img { width: 400px; height: 250px;}
.banner-btn { position: absolute; z-index:1; bottom: 30px; right: 20px; }
.banner-btn li { float: left; width: 15px; height: 15px; margin-right: 10px; border-radius: 7px; background: #47281E; cursor: pointer;}





#demo_img { position: relative; width: 400px; height: 250px;}




