* { padding: 0; margin: 0; }
img { border: 0 none;}
body { color: #512347; padding: 20px; background: #404256;}
.btn { position: relative; display: inline-block; *display: inline-block; *zoom: 1; width: 200px; height: 200px; background: #52C0DD; border-radius: 20px; text-align: center;}
.btn img { position: absolute; left: 50%; margin-left: -66px; top: 50%; margin-top: -46px;}