.page { width: 505px; height: 124px; margin: 100px auto; border: 1px solid #eee; font-family: "Microsoft Yahei";}
.page-box { width: 315px; margin: 0 auto; border: 1px solid #000;}
.img { display: table; float: left; height: 124px; width: 45px; *position: relative;}

.img-box { display: table-cell; vertical-align: middle; *position: absolute; *top: 50%;}

.img-box2 { *position: relative; *top: -50%;}

.txt { display: table; float: left; height: 124px; width: 250px; margin-left: 10px; *position: relative;}
.txt-box { display: table-cell; vertical-align: middle; line-height: 30px; *position: absolute; *top: 50%;}
.txt-box2 { *position: relative; *top: -50%;}
.txt-item1 { font-size: 18px;}
.txt-item2 { font-size: 17px;}