$fontSize: 12px;
$borderStyle0 : 0 none;
$borderStyle1 : 1px solid #000;
$Width:500px;
$Height:400px;
$marginStyle: 20px auto;
.panel { width: $Width; height: $Height;  font-size: $fontSize; border: $borderStyle1; margin: $marginStyle; }
.chatbox { width: $Width/1.2; height:$Height/1.5; border: $borderStyle1; border-top: $borderStyle0; margin: 0 auto;}
.chatinfo {
	padding-left: $Width/20; 
	margin: $marginStyle;
	label{
		display: block;
		margin: $marginStyle;
		input{
			line-height: $fontSize*1.5;
		}
	}
}