body { font-family: "Microsoft Yahei",Tahoma; font-size: 12px; font-weight: normal; color: #4C4C4C; line-height: 16px; height: 4000px;}
a { color: #4C4C4C;}
.page {}

.icon { display: inline-block; *display: inline; *zoom: 1; background: url(../images/un_header_footer20150303.png); vertical-align: middle;}
.icon-en { width: 19px; height: 13px;margin-right: 5px; background-position: -61px -471px;}
.icon-ch { background-position:  0 2px;}
.icon-arrow { width: 9px; height: 5px; margin-left: 5px; background-position: -63px -260px;}

.header { position: relative; width: 1180px; height: 60px; margin: 0 auto; background: url(../images/pic_doodle_mar.jpg) -32px 0 no-repeat;}
.c-logo { display: inline-block; *display: inline; *zoom: 1; margin-top: 8px; width: 126px; height: 43px; background: url(../images/c_logo.png) 0 0 no-repeat;}
.search { position: absolute; top: 15px; left: 170px; width: 382px; height: 27px;}
.search-input { position: absolute; top: 0; left: 0; width: 330px; height: 28px; padding: 0 45px 0 5px; font-family: "Microsoft Yahei",Tahoma; font-size: 10px; border: 1px solid #8EBEFC; border-radius: 4px; box-shadow: 2px 2px 1px 0 rgba(164,203,255,0.25) inset;}
.search-btn { position: absolute; top: 1px; right: 1px; width: 42px; height: 28px; background: #A4CBFF url(../images/un_header_footer20150303.png) -52px -603px no-repeat;}
.nav-bar { position: absolute; top: 0; right: 0;}
.nav-bar .other-lang, .nav-bar .callcenter, .nav-bar .service, .nav-bar .mobile { float: left;}

.nav-bar .other-lang, .nav-bar .service,.nav-bar .callcenter { margin-top: 21px;}
.nav-bar .callcenter li, .nav-bar .mobile li { padding: 0 10px;}
.nav-bar .other-lang { margin-right: 9px;}
.nav-bar .other-lang-curr { height: 20px; margin-right: 0; margin-top: 21px; line-height: 15px; background: #E4E7EB;}
.other-lang-curr li { position: relative; z-index: 31;}
.other-lang-curr .lang-head-box { display: inline-block; *display: inline; *zoom: 1; padding: 3px 3px 0 3px; margin-top: -10px; background: #E4E7EB; line-height: 15px;border-top-left-radius: 3px; border-top-right-radius: 3px;}
.other-lang-curr .lang-head-span { position: relative; display: inline-block; *display: inline; *zoom: 1; background: #fff; border: 1px solid #b8b8b8; border-bottom: 0 none; padding: 7px 5px 6px 9px; z-index: 112;}
.other-lang-curr .other-lang-box { position: absolute; top: 18px; left: 0; padding: 3px; background: #E4E7EB; z-index: 10; border-radius: 3px;}
.other-lang-curr .lang-list { width: 98px; padding-right: 10px; border: 1px solid #B8B8B8; background: #fff;}
.other-lang-curr .lang-list li { height: 20px; width: 80px; margin: 0 9px; padding: 6px 0; line-height: 20px; border-bottom: 1px dotted #E4E7EB;}
.other-lang-curr .lang-list li a { display: block; height: 0; padding-top: 20px; padding-left: 25px; line-height: 20px;}
.other-lang-curr .lang-list li.first { border-top: 1px dotted #E4E7EB;}
.other-lang-curr .lang-list li.last { border-bottom: 0 none;}


.nav-bar .callcenter { border-left: 1px solid #B2B2B2; border-right: 1px solid #B2B2B2;}
.nav-bar .service { border: 0 none;}
.nav-bar .mobile li { padding-left: 8px;}
.nav-bar .mobile { position: relative; margin-top: 7px;}
.mobile-link { display: inline-block; *display: inline; *zoom: 1; width: 141px; height: 42px; background: url(../images/un_wireless_140722.png) 0 0 no-repeat;}
.mobile-num { color: #0066CC;}
.mobile .icon-arrow { position: absolute; top: 34px; right: 0;}
.service .txt { position: relative; padding: 0 10px; }
.nav-bar .service-curr { margin-top: 12px;}
.service-curr .txt { position: relative; padding: 0; z-index: 31;}
.service-curr .txt .service-a { display: inline-block; *display: inline; *zoom: 1; padding: 3px 3px 0 3px; line-height: 15px; background: #E4E7EB; border-radius: 3px;}
.service-curr .txt .service-span { position: relative; display: inline-block; *display: inline; *zoom: 1; padding: 6px 6px 7px 6px; border:1px solid #b8b8b8; border-bottom: 0 none; background: #fff; z-index: 112; }
.service-box { position: absolute; display: none; top: 28px; right: 0; padding: 3px; background: #E4E7EB; z-index: 10; border-radius: 3px;}
.service-box ul { width: 200px; padding: 5px 16px; text-align: right; border: 1px solid #b8b8b8; background: #fff }
.service-box ul li { height: 22px; line-height: 22px; }

.mobile li { position: relative;}
.mobile-box { display: none; position: absolute; right: 0; width: 270px; border: 3px solid #FFB000; z-index: 1; background: #fff;}
.mobile-box .close { position: absolute; right: 0; top: 10px; width: 38px; height: 43px; font-family: Simsun; font-size: 36px; color: #a9a9a9;}
.mobile-box .close:hover { color: #2577E3;}
.mobile-box .way { padding: 0 20px 0 15px; margin-bottom: 20px;}
.mobile-box .way dl { margin-top: 30px;}
.mobile-box .way dt { float: left; width: 55px; height: 50px; margin-right: 15px; line-height: 66px; background: url(../images/un_wireless_140722.png) 0 -50px no-repeat; font-size: 24px; color: #fff; text-align: center; }
.mobile-box .way dd { position: relative; display: table; width: 160px;}
.way .head { font-weight: normal; font-size: 16px; margin-bottom: 10px;}
.way .num-input { width: 144px; padding: 5px 2px; border: 1px solid #BBBBBB; font-family: "Microsoft Yahei"; margin-bottom: 10px; }
.way .btn { display: inline-block; *display: inline; *zoom: 1; width: 148px; height: 32px; line-height: 32px; font-size: 14px; font-weight: bold; font-family: "Simsun"; color: #fff; background: #FFB000; border: 1px solid #E77C00; border-radius: 4px; text-align: center;}
.way .code { display: inline-block; *display: inline; *zoom: 1; width: 104px; height: 99px; background: url(../images/un_wireless_140722.png) 0 -108px no-repeat;}
.wireless { display: block; height: 40px; line-height: 40px; background: #F2F2F2; font-size: 16px; text-align: center;}
.wireless:hover { text-decoration: underline;}
.wireless span { background: url(../images/un_wireless_140722.png) ;}

/*nav*/
.nav { width: 100%; height: 40px; margin-top: -1px; background: #2577E3;}
.nav-tit { position: relative; width: 1180px; margin: 0 auto;}
.nav-tit .nav-tit-list { float: left; font-size: 16px; line-height: 34px;}
.nav-tit .separator { float: left; font-size: 14px; line-height: 40px; color: #1D67DD;}
.nav-tit-item { display: inline-block; *display: inline; *zoom: 1; padding: 3px 10px; color: #fff;}
.nav-tit-list-curr .nav-tit-item { padding: 0 10px 3px 10px; background: #fff; color: #0066CC; border-top: 3px solid #FF9915;}
.nav-con { display: none; position: absolute; left: 0; top: 40px; padding: 0 30px; width: 1120px; height: 37px; margin-left: -3px; line-height: 40px; font-size: 14px; border: 1px solid #bbb; border-top: 0 none; z-index: 1; background: #fff;}
.myctrip { position: relative; float: right;}
.myctrip-head { position: relative; width: 125px; padding: 0 5px 0 35px; background: #FF9913; color: #fff; line-height: 20px; cursor: pointer;}
.per_icon { position: absolute; left: 7px; top: 10px; width: 22px; height: 22px; background: #fff;}
.myctrip-txt { width: 96px; float: left;}
.myctrip-head .name { font-size: 12px;}
.myctrip-head .thelink { font-size: 14px;}
.quit { float: right; color: #fff;}
.myctrip-body { display: none; position: absolute; width: 133px; padding: 5px 15px; border: 1px solid #C3C3C3; border-top: 0 none; box-shadow: 0px 1px 1px #EDEDED; background: #fff;}
.myctrip-body ul { border-bottom: 1px solid #C3C3C3;}
.myctrip-body ul li { height: 26px;line-height: 26px;}
.myctrip-body ul li a { color: #0066CC;}
.myctrip-body ul.last { border-bottom: 0 none;}



.panel { width: 1180px; margin: 0 auto; height: 500px;}
.inte-travel { padding: 10px 0; line-height: 22px; color: #666666;}
.inte-travel .tit { display: inline-block; *display: inline; *zoom: 1; width: 95px; height: 22px; margin-right: 25px; background-color: #74A8ED; color: #fff; text-align: center; }
.inte-travel .con { margin-right: 20px;}
.inte-travel .con .icon1 { display: inline-block; *display: inline; *zoom: 1; width: 25px; height: 5px;}

.search-frame { width: 566px; height: 286px; padding: 7px; border-radius: 10px; background: #3983E5;}
.search-box { width: 566px; height: 286px; border-radius: 7px; background: #fff;}
.search-tit { float: left; height: 286px; background: #ECF4FC;}
.search-tit li { width: 74px; height: 38px; cursor: pointer; font-size: 16px; line-height: 38px; text-align: center; background: #ECF4FC; border-top: 1px solid #fff; border-bottom: 1px solid #AECEF6;}
.search-tit li.curr { background: #fff; width: 77px; color: #06c; box-shadow: -2px -4px 4px -4px #b7c9e0,-2px 4px 4px -4px #b7c9e0}
.search-con { float: right;}